<div>
    <div class="about-section">
        <h1>About Us </h1>
      </div>
    <div class="py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
          <!-- //tittle heading -->
          <div class="row">
            <h2 style="color:#3613ff;">About Store</h2>
            <div class="col-lg-6 welcome-left">
              <h4 class="my-sm-3 my-2">The basic aim of a food store is to maintain an adequate supply of foods for the immediate needs of the business with the very minimum loss through spoilage and pilferage. This entails establishing standards and standard procedures for storing..</h4>
            </div>
      
            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
              <img src="../../../assets/images/slide2.jpg" class="img-fluid" alt=" ">
            </div>
            <div class="welcome-left">
              <br><br><h2 class="text-left" style="color:#3613ff;">&ensp;What We Do</h2>
              <h4 class="my-sm-3" style="margin-left:15px;">We guarantee you the best quality menu with the lowest price. Right now we only serve you in Bandra. 
                To have a more convenient dining experience, for you we deliver your selected menus at your doorstep at your selected 
                time slot. As in today's era every person sense short in time & also its hard to find if the consumable food stuff are 
                healthy/natural. So to tackle this issue we serve you with the finest & hand-coocke food from all the categories,
              to save your time from the conventional dining as well as
               from the problems like waiting in long queues at restaurants, the parking issue & etc.</h4>
            </div>
            <div class="welcome-left">
              <br><br><h2 class="text-left" style="color:#3613ff;">&ensp;Our Vision</h2>
              <h4 class="my-sm-3" style="margin-left:15px;">
              <li>To evaluate the way of interaction with customers.</li>
              <li>To develop a restaurant ordering system with web application based on the client server application. </li>
              <li>To determine the factors that influence customer when ordering food online.</li>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>