<body>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/slide1.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/slide4.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/slide3.jpg\" class="d-block w-100" alt="..." >
    </div>
  </div>
  
</div>
<br>
<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
  <div class="container">
    <h2 class="menu-section-heading">Explore Menu</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-3" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3">
          <img src="../../../assets/images/starthome.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">STARTER</h1>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-3 " (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3">
          <img src="../../../assets/images/veghome.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">VEG</h1>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-3 " (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3">
          <img src="../../../assets/images/nonveghome.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">NON-VEG</h1>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-3 " (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3">
          <img src="../../../assets/images/desshome.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">DESSERTS</h1>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-3 " (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3">
          <img src="../../../assets/images/bevhome.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">BEVERAGES</h1>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-3 " (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3">
          <img src="../../../assets/images/gen1.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">GENERAL</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-section pt-5 pb-5">
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="../../../assets/images/slide2.jpg" class="food-munch-logo" />
            <h1 class="footer-section-mail-id"></h1>
            <p class="footer-section-address">
              ****************************************************************************
            </p>
        </div>
    </div>
</div>
</div>

</body>