
<div class="main">
        <a>  Yummy-Dummy</a>
    <div (click)="gotourl('')" [class.selected]="url === '/'" class="hover1 btn-size" >Home</div>
    <div (click)="gotourl('about-us')" [class.selected]="url === '/about-us'" class="hover1">AboutUs</div>
    <!-- <div (click)="gotourl('customer-register')"  [class.selected]="url === '/customer-register'">Register</div> -->
    <div (click)="gotourl('customer-login')" [class.selected]="url === '/customer-login'" class="hover1">CustomerLogin</div>
    <div (click)="gotourl('admin-login')" [class.selected]="url === '/admin-login'" class="hover1">AdminLogin</div>
    <div (click)="gotourl('contact-us')" [class.selected]="url === '/contact-us'" class="hover1">Contactus</div>
</div>
