<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h1 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>C</span>ontact
        <span>U</span>s
      </h1>
      <!-- //tittle heading -->
      <div class="row contact-grids agile-1 mb-5">
        <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-map-marker-alt rounded-circle"></i>
            </div>
            <h2 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h2>
            <p style="font-weight: bold;color:black;">FOODIES
              <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;">N0.9, prasanth meanor flat,bajanai kovil st,vadapalani,chennai-26</a></label>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-phone rounded-circle"></i>
            </div>
            <h2 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h2>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;">1800 130 0005</a>
  
  
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-envelope-open rounded-circle"></i>
            </div>
  
            <h2 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h2>
            <p>
              <a style="font-weight: bold;color:black;">customersupport@yummy.in</a>
            </p>
          </div>
        </div>
      </div>