<div class="main">
    <a>  Yummy-Dummy</a>
    <div (click)="routerToLink('/customer/home')" [class.selected]="url === '/customer/home'" class="hover1">Home</div>
    <div (click)="routerToLink('/customer/cart')" [class.selected]="url === '/customer/cart'" class="hover1">Cart List</div>
    <div (click)="routerToLink('/customer/order')" [class.selected]="url === '/customer/order'" class="hover1">Order</div>
    <div [matMenuTriggerFor]="menu" class="user-name-item"><div>{{userName}}&nbsp;</div><div><mat-icon>expand_more</mat-icon></div></div>   
</div>
<mat-menu #menu="matMenu">
    <button (click)="routerToLink('/customer/logout')" mat-menu-item><mat-icon>logout</mat-icon> Logout</button>
  </mat-menu>
